<nav class="navbar navbar-expand px-2 sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand p-0 text-white" href="/">
      <img src="/static/img/omega.svg" alt="Home" height="25"/>
    </a>
    <ul class="navbar-nav">
      <li class="d-flex">
        <img role="button" class="align-self-center px-2" id="themeSwitcher" src="/static/img/theme-switcher.svg" height="22">
      </li>
      <li class="nav-item ps-1">
        <a class="nav-link text-white" href="/about/">About</a>
      </li>
    </ul>
  </div>
  <script>
    const themeSwitcher = document.getElementById("themeSwitcher")
    themeSwitcher.addEventListener("click", (event) => toggleTheme(event));
    document.addEventListener("DOMContentLoaded", () => setInitialTheme(themeSwitcher));
  </script>
</nav>
